@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    /* Primary */
    --cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 11%, 36%);

    /* Secondary */
    --Red: hsl(0, 87%, 67%);

    /* Neutral */
    --Gray: hsl(0, 0%, 91%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);

    /* Fonts */
    --Font-Normal: 500;
    --Font-Bold: 700;
    --Font-Family: 'Poppins', sans-serif;
}


/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--Font-Family);
}

.header {
    width: 100%;
    height: 85vh;
}

/* Header Navigation */
.navigation {
    width: 100%;
    padding: 30px 0;
}

.nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_nav {
    display: none;
}

.logo img{
    width: 5rem;
}

ul {
    list-style: none;
}

.left__nav, .nav__links, .right__nav {
    display: flex;
    /* align-items: center; */
}

ul li {
    font-size: 0.9rem;
    color: var(--Dark-Violet);
    opacity: 0.8;
    font-weight: var(--Font-Normal);
    cursor: pointer;
}

.nav__links {
    margin-left: 30px;
}

.nav__links li {
    margin-right: 20px;
}

.right__nav {
    align-items: center;
}

.right__nav li {
    margin-left: 20px;
}

.sign__up {
    background-color: var(--cyan);
    color: white;
    font-size: 0.75rem;
    padding: 4px 13px;
    border-radius: 30px;
}

/* Header Body */
.header__body {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    overflow: hidden;
}

.body__contents {
    margin-left: 12.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__content {
    width: 29rem;
}

.left__content h1 {
    font-weight: var(--Font-Bold);
    font-size: 3.5rem;
    line-height: 4.3rem;
    color: var(--Very-Dark-Blue);

}

.left__content p {
    font-size: 1.05rem;
    color: var(--Dark-Violet);
    opacity: 0.7;
    margin-bottom: 1.5rem;
    font-weight: var(--Font-Normal);
}

.header_cta {
    background-color: var(--cyan);
    color: white;
    font-size: 0.8rem;
    font-weight: var(--Font-Normal);
    border: none;
    border-radius: 35px;
    padding: 7px 25px;
    cursor: pointer;
}

.header_cta:hover, .short_url:hover, .copy_btn:hover, .copied_btn:hover, .sign__up:hover {
    opacity: 0.8;
}

.right_content img {
    width: 36rem;
    object-fit: cover;
    position: relative;
    right: -5rem;
}


/* Main */
.main {
    width: 100%;
    background-color: var(--Gray);
    margin-top: 5rem;
}


/* Shorten It */
.shorten__it {
    width: 70%;
    margin: 0 auto;
    position: relative;
}


.form {
    width: 100%;
    background-color: var(--Dark-Violet);
    padding: 1.8rem;
    border-radius: 8px;
    position: absolute;
    top: -3rem;
    /* margin-bottom: 10rem; */
}

.form_container {
    display: flex;
    justify-content: space-between;
}

input {
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form.error input {
    border: 3px solid #fc6b6b;
    color: #fc6b6b;
}

.short_url {
    background-color: var(--cyan);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 0.75rem;
    cursor: pointer;
}

 


.message {
    display: none;
}

.form.error .message {
    display: block;
    font-style: italic;
    font-size: 0.65rem;
    color: #fc6b6b;
    /* margin-top: 6px; */
    position: absolute;
    bottom: 10px;
}

.result_container {
    width: 100%;
    /* margin-top: 10rem; */
    position: relative;
    top: 4.2rem;
}

.result {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.result p {
    font-size: 0.85rem;
}

.the_shorten_url {
    display: flex;
    align-items: center;
}

.url_shorten {
    color: var(--cyan);
    font-weight: var(--Font-Normal);
}

.copy_btn, .copied_btn {
    background-color: var(--cyan);
    color: white;
    font-size: 0.7rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
}


.copied_btn {
    background-color: var(--Dark-Violet);
    padding: 5px 10px;
}


.statistics {
    width: 70%;
    margin: 0 auto;
    padding: 8rem 0 8rem 0;
}

.__heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.__heading h2 {
    font-size: 1.8rem;
}

.__heading p {
    font-size: 0.98rem;
    color: var(--Dark-Violet);
    opacity: 0.7;
    font-weight: var(--Font-Normal);
    margin: 1rem 0 3rem 0;
}

.cards {
    width: 100%;
}

.cards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card {
    width: 18.5rem;
    z-index: 2;
}

.__card_img {
    background-color: var(--Very-Dark-Violet);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -2rem;
    left: 2rem;
}

.__card_img img {
    width: 45%;
}


.__card__content {
    background-color: white;
    padding: 3.5rem 1.5rem 2rem 1.5rem;
    border-radius: 3px;
}

.__card__content h3 {
    font-size: 1.1rem;
}

.__card__content p {
    font-size: 0.85rem;
    margin-top: 10px;
    color: var(--Dark-Violet);
    opacity: 0.8;
    /* font-weight: var(--Font-Normal); */
    line-height: 1.05rem;
}

.cards_line {
    width: 100%;
    height: 5px;
    background-color: var(--cyan);
    position: relative;
    top: -78px;
    z-index: 1;
}

.card:nth-child(2) {
    position: relative;
    top: 1.8rem;
    /* background-color: red; */
}

.card:nth-child(3) {
    position: relative;
    top: 3.5rem;
    /* background-color: red; */
}

.boost__links {
    background-color: var(--Dark-Violet);
    padding: 3rem 0;
    text-align: center;
    color: white;
}

.boost__links h2 {
    font-size: 1.5rem;
    font-weight: var(--Font-Bold);
    margin-bottom: 20px;
}


.boost__links button {
    background-color: var(--cyan);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8.5px 30px;
    font-size: 0.8rem;
    font-weight: var(--Font-Normal);
    cursor: pointer;
}

.boost__links button:hover {
    opacity: 0.8;
}


/* ____________ Footer ________________ */
.footer {
    width: 100%;
    background-color: var(--Very-Dark-Violet);
    padding: 3rem 0;
}

.footer_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_logo h2 {
    color: white;
}

.footer_navs {
    display: flex;
}

.footer_nav {
    margin: 0 40px;
}

.footer_nav h2 {
    color: white;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.footer_nav li {
    margin-bottom: 8px;
}

.footer_nav a {
    color: var(--Gray);
    text-decoration: none;
    font-size: 0.8rem;
}

.social_links i {
    font-size: 1.2rem;
    color: white;
    margin: 0 6px;
}

.social_links i:hover {
    color: var(--cyan);
}


/* Smaller Devices than laptops */
@media screen and (max-width: 1024px) and (min-width: 768px){
    .header {
        width: 100%;
        height: 38vh;
    }

    .nav, .shorten__it, .statistics, .footer_container {
        width: 90%;
    }

        
    .body__contents {
        margin-left: 3rem;
    }

    .left__content {
        width: 40rem;
        /* background-color: yellow; */
    }

    .left__content h1 {
        font-size: 3rem;
        line-height: 3.6rem;
    }

    .right_content img {
        width: 33rem;
    }

    .card {
        width: 17rem;
    }

    .__card__content p {
        font-size: 0.8rem;
        line-height: 1.08rem;
    }

    .cards_line {
        width: 100%;
        height: 5px;
        background-color: var(--cyan);
        position: relative;
        top: -98px;
        z-index: 1;
    }

}



/* Smaller Devices */
@media screen and (max-width: 900px){
    .header {
        width: 100%;
        min-height: 42rem;
        height: 0;
    }

    .nav {
        display: none;
    }

    .mobile_nav {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .mobile_nav_container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .mobile_nav_container .logo img {
        width: 6rem;
    }

    .mobile_nav_container i {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .mobile_nav_links {
        width: 85%;
        margin: 10px auto 0 auto;
        background-color: var(--Very-Dark-Blue);
        color: white;
        list-style: none;
        border-radius: 10px;
        padding: 1.5rem;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        display: none;
    }

    .mobile_nav_links.active {
        display: block;
    }

    .mobile_nav_links li {
        margin-bottom: 20px;
        font-size: 1.02rem;
        font-weight: var(--Font-Normal);
    }

    .mobile_nav_links li:nth-child(3) {
        border-bottom: 0.1px solid #858585;
        padding-bottom: 30px;
    }

    .mobile_nav_links .sign__up {
        padding: 5px;
    }

    .body__contents {
        width: 100%;
        margin-left: 0;
        flex-direction: column-reverse;
        /* background-color: yellow; */
    }

    .left__content {
        width: 85%;
        margin: 1.3rem auto;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left__content h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .left__content p {
        font-size: 1.05rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .right_content {
        width: 24rem;
    }

    .right_content img {
        width: 100%;
        right: -3rem;
    }

    .header_cta {
        font-size: 0.9rem;
        padding: 8px 35px;
    }

    .shorten__it {
        width: 85%;
    }


    .form {
        width: 100%;
        top: -5rem;
        /* margin-bottom: 10rem; */
    }

    .form_container {
        flex-direction: column;
        justify-content: flex-start;
    }

    input {
        width: 100%;
    }

    
    .short_url {
        width: 100%;
        padding: 8px 0;
        margin-left: 0;
        margin-top: 17px;
        font-size: 0.85rem;
    }

    .form.error .message {
        font-size: 0.6rem;
        bottom: 4.2rem;
    }

    .result_container {
        width: 100%;
        top: 5.6rem;
    }

    .result {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .result p {
        font-size: 0.9rem;
        font-weight: var(--Font-Normal);
    }

    .the_shorten_url {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .original {
        width: 100%;
        border-bottom: 0.1px solid #919090;
        padding-bottom: 10px;
    }

    .url_shorten {
        width: 100%;
        font-weight: var(--Font-Normal);
        margin: 12px 0;
    }

    .copy_btn, .copied_btn {
        width: 100%;
        font-size: 0.85rem;
        padding: 8px;
        margin-left: 0;
        font-weight: var(--Font-Normal);
    }

    
    .statistics {
        width: 85%;
        padding: 9rem 0 8rem 0;
    }

    .__heading {
        width: 100%;
    }

    .__heading h2 {
        font-size: 1.55rem;
    }

    .__heading p {
        font-size: 0.95rem;
        margin: 1rem 0 3rem 0;
    }

    .cards {
        width: 100%;
        position: relative;
    }

    .cards__container {
        width: 100%;
        flex-direction: column;
    }

    .card {
        width: 100%;
        z-index: 2;
        text-align: center;
    }

    .__card_img {
        width: 3.8rem;
        height: 3.8rem;
        position: relative;
        bottom: -2rem;
        left: 0;
        right: 0;
        margin: auto;
    }

    .__card_img img {
        width: 45%;
    }


    .__card__content h3 {
        font-size: 1.18rem;
    }

    .__card__content p {
        font-size: 0.9rem;
        font-weight: var(--Font-Normal);
        line-height: 1.18rem;
    }

    .cards_line {
        width: 4px;
        height: 40rem;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }


    .boost__links {
        padding: 4rem 0;
    }

    .boost__links h2 {
        font-size: 1.5rem;
    }


    .boost__links button {
        padding: 8.8px 35px;
        font-size: 0.8rem;
    }


    /* ____________ Footer ________________ */
    .footer {
        width: 100%;
        padding: 3.5rem 0;
    }

    .footer_container {
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_logo h2 {
        font-size: 1.5rem;
    }

    .footer_navs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_nav {
        margin: 0 0;
    }

    .footer_nav h2 {
        font-size: 1rem;
        margin: 15px 0;
        text-align: center;
    }

    .footer_nav li {
        text-align: center;
    }

    .footer_nav a {
        font-size: 0.9rem;
    }

    .social_links i {
        font-size: 1.4rem;
        color: white;
        margin: 15px 6px 0 6px;
    }


}